**1. ƒê·ªãnh nghƒ©a Tuples (B·ªô d·ªØ li·ªáu)**
**1.1. Tuples l√† g√¨?**

Tuple l√† m·ªôt c·∫•u tr√∫c d·ªØ li·ªáu trong Python:
    C√≥ th·ª© t·ª± (ordered)
    Kh√¥ng thay ƒë·ªïi ƒë∆∞·ª£c (immutable)
    Cho ph√©p tr√πng gi√° tr·ªã
    C√≥ th·ªÉ ch·ª©a nhi·ªÅu ki·ªÉu d·ªØ li·ªáu kh√°c nhau

**V√≠ d·ª• :**
1/ Qu·∫£n l√Ω nh√¢n vi√™n (HR): 
employee = ("E001", "Nguyen Van A", "IT", 1500)
2/ Tuple cho Log h·ªá th·ªëng (IT / DevOps) 
system_log = ("2026-01-09 14:32:10", "ERROR", "AuthService", "Invalid token")
| Ph·∫ßn t·ª≠   | N·ªôi dung      |
| --------- | ------------- |
| Th·ªùi gian | Timestamp     |
| M·ª©c ƒë·ªô    | ERROR         |
| Service   | AuthService   |
| Th√¥ng b√°o | Invalid token |

3/ Tuple cho Giao d·ªãch t√†i ch√≠nh (Finance / Banking): 
transaction = ("TXN20260109", "E001", 2500.75, "USD", "SUCCESS")

4/ Tuple cho Feature vector trong Data Science / AI: 
feature_vector = (0.82, 1.35, 0.12, 0.67)

**B√†i t·∫≠p 1: Qu·∫£n l√Ω nh√¢n vi√™n (HR)**
Y√™u c·∫ßu: In ra nh√¢n vi√™n "Nguy·ªÖn Th√†nh Lu√¢n" l√†m vi·ªác ·ªü ph√≤ng IT v√† c√≥ m·ª©c l∆∞∆°ng 1500.

In [ ]:
employee = ("E001", "Nguy·ªÖn Th√†nh Lu√¢n", "IT", 1500)

emp_id, name, dept, salary = employee #employee unpacking 

print(f"Employee: {name} works in {dept}, salary = {salary}") # f: formatted string

Employee: Nguy·ªÖn Th√†nh Lu√¢n works in IT, salary = 1500

**B√†i t·∫≠p 2:Tuple cho Log h·ªá th·ªëng (IT / DevOps)**
Cho system_log = ("2026-01-09 14:32:10", "ERROR", "AuthService", "Invalid token")

| Ph·∫ßn t·ª≠   | N·ªôi dung      |
| --------- | ------------- |
| Th·ªùi gian | Timestamp     |
| M·ª©c ƒë·ªô    | ERROR         |
| Service   | AuthService   |
| Th√¥ng b√°o | Invalid token |
Y√™u c·∫ßu: 
D√πng tuple unpacking ƒë·ªÉ g√°n c√°c gi√° tr·ªã v√†o 4 bi·∫øn:
timestamp, level, service, message
In ra log theo ƒë·ªãnh d·∫°ng: [ERROR] AuthService at 2026-01-09 14:32:10: Invalid token

In [24]:
# Tuple system log
system_log = ("2026-01-09 14:32:10", "ERROR", "AuthService", "Invalid token")

# Tuple unpacking
timestamp, level, service, message = system_log

# In log theo ƒë·ªãnh d·∫°ng y√™u c·∫ßu
print(f"[{level}] {service} at {timestamp}: {message}")

[ERROR] AuthService at 2026-01-09 14:32:10: Invalid token

**B√†i t·∫≠p 3: Tuple cho Giao d·ªãch t√†i ch√≠nh (Finance / Banking)** 
Cho transaction = ("TXN20260109", "E001", 2500.75, "USD", "SUCCESS")
Y√™u c·∫ßu Ph√¢n t√≠ch in ra : M√£ giao d·ªãch, Nh√¢n vi√™n x·ª≠ l√Ω, S·ªë ti·ªÅn, ƒê∆°n v·ªã ti·ªÅn, Tr·∫°ng th√°i ho√†n th√†nh

In [ ]:
transaction = ("TXN20260109", "E001", 2500.75, "USD", "SUCCESS")
txn_id, emp_id, amount, currency, status = transaction # ƒë·∫∑t tr·∫°ng th√°i th√†nh c√¥ng th√¨ in ra giao d·ªãch ho√†n th√†nh. 
if status == "SUCCESS": # ki·ªÉm tra tr·∫°ng th√°i 
    print(f"Transaction {txn_id}: {amount} {currency} completed")

Transaction TXN20260109: 2500.75 USD completed

**B√†i t·∫≠p 4: C√¥ng ty l∆∞u tr·ªØ danh s√°ch giao d·ªãch t√†i ch√≠nh, m·ªói giao d·ªãch l√† m·ªôt tuple g·ªìm:**
(TransactionID, Date, Currency, Amount, Status)
transactions = [
    ("TXN01", "2026-01-09", "USD", 1200, "SUCCESS"),
    ("TXN02", "2026-01-09", "USD", 800, "FAILED"),
    ("TXN03", "2026-01-10", "EUR", 1500, "SUCCESS"),
    ("TXN04", "2026-01-10", "USD", 500, "SUCCESS"),
    ("TXN05", "2026-01-11", "VND", 20000000, "PENDING")
]
Y√™u c·∫ßu :
1.D√πng v√≤ng l·∫∑p for in b√°o c√°o t·ª´ng giao d·ªãch?.
for variable in iterable:
    # kh·ªëi l·ªánh ƒë∆∞·ª£c l·∫∑p

2.L·ªçc giao d·ªãch SUCCESS?.
# n·∫øu tr·∫°ng th√°i giao d·ªãch "SUCCESS" th√¨ in ra

In [31]:
# .1D√πng v√≤ng l·∫∑p for in b√°o c√°o t·ª´ng giao d·ªãch?.
transactions = [
    ("TXN01", "2026-01-09", "USD", 1200, "SUCCESS"),
    ("TXN02", "2026-01-09", "USD", 800, "FAILED"),
    ("TXN03", "2026-01-10", "EUR", 1500, "SUCCESS"),
    ("TXN04", "2026-01-10", "USD", 500, "SUCCESS"),
    ("TXN05", "2026-01-11", "VND", 20000000, "PENDING")
]
for txn_id, date, currency, amount, status in transactions:
    print(f"{txn_id} | {date} | {currency} | {amount} | {status}")

TXN01 | 2026-01-09 | USD | 1200 | SUCCESS
TXN02 | 2026-01-09 | USD | 800 | FAILED
TXN03 | 2026-01-10 | EUR | 1500 | SUCCESS
TXN04 | 2026-01-10 | USD | 500 | SUCCESS
TXN05 | 2026-01-11 | VND | 20000000 | PENDING

In [32]:
#2.L·ªçc giao d·ªãch SUCCESS?.
for txn_id, date, currency, amount, status in transactions:
    if status == "SUCCESS":
        print(f"{txn_id} | {date} | {currency} | {amount} | {status}")

TXN01 | 2026-01-09 | USD | 1200 | SUCCESS
TXN03 | 2026-01-10 | EUR | 1500 | SUCCESS
TXN04 | 2026-01-10 | USD | 500 | SUCCESS

**B√ÄI T·∫¨P 5: K·∫æT H·ª¢P LIST & TUPLE TRONG DOANH NGHI·ªÜP** 

C√¥ng ty l∆∞u tr·ªØ danh s√°ch nh√¢n vi√™n, trong ƒë√≥:
    - M·ªói nh√¢n vi√™n l√† m·ªôt tuple (d·ªØ li·ªáu g·ªëc, kh√¥ng thay ƒë·ªïi)
    - To√†n b·ªô danh s√°ch l√† m·ªôt list (c√≥ th·ªÉ th√™m / x√≥a). 
Employees = [
    ("E001", "Nguyen Van A", "IT", 1500),
    ("E002", "Tran Thi B", "HR", 1200),
    ("E003", "Le Van C", "IT", 1800),
    ("E004", "Pham Thi D", "Finance", 2000),
    ("E005", "Hoang Van E", "IT", 1700)
]
Y√äU C·∫¶U: 
1.Duy·ªát danh s√°ch nh√¢n vi√™n.? 
2.L·ªçc d·ªØ li·ªáu nv thu·ªôc ph√≤ng IT.? 
3 Th·ªëng k√™ l∆∞∆°ng (T√≠nh t·ªïng l∆∞∆°ng, l∆∞∆°ng trung b√¨nh) c·ªßa c√¥ng ty.?
4.C·∫≠p nh·∫≠t l∆∞∆°ng nh∆∞ng KH√îNG s·ª≠a tuple
    - T·∫°o list m·ªõi updated_employees
    - Nh√¢n vi√™n ph√≤ng IT tƒÉng l∆∞∆°ng 10%
    - C√°c ph√≤ng kh√°c gi·ªØ nguy√™n
    - Employees ban ƒë·∫ßu kh√¥ng ƒë∆∞·ª£c thay ƒë·ªïi. 
    - Th√™m nh√¢n vi√™n m·ªõi, in l·∫°i danh s√°ch nv sau khi th√™m.

In [41]:
employees = [
    ("E001", "Nguyen Van A", "IT", 1500),
    ("E002", "Tran Thi B", "HR", 1200),
    ("E003", "Le Van C", "IT", 1800),
    ("E004", "Pham Thi D", "Finance", 2000),
    ("E005", "Hoang Van E", "IT", 1700)
]

#1.Duy·ªát danh s√°ch nh√¢n vi√™n
print("\n=== 1. DUY·ªÜT DS NH√ÇN VI√äN ===")
for emp_id, name, dept, salary in employees:
    print(f"ID: {emp_id}, Name: {name}, Department: {dept}, Salary: {salary}")

#2.L·ªçc nh√¢n vi√™n IT c√≥ l∆∞∆°ng > 1600
print("\n=== 2. NH√ÇN VI√äN PH√íNG IT ===")
for emp_id, name, dept, salary in employees:
    if dept == "IT":
        print(f"{emp_id} | {name} | {salary}")

#3.TH·ªêNG K√ä L∆Ø∆†NG NV CTY 
print("\n=== 3. T·ªîNG L∆Ø∆†NG V√Ä L∆Ø∆†NG TRUNG B√åNH ===")
total_salary = sum(salary for emp_id, name, dept, salary in employees)
avg_salary = total_salary / len(employees) # trong python kh√¥ng c√≥ h√†m avg n√™n ta t·ª± t√≠nh 
print(f"T·ªïng l∆∞∆°ng: {total_salary}")
print(f"L∆∞∆°ng trung b√¨nh: {avg_salary}")

#4. C·∫≠p nh·∫≠t l∆∞∆°ng nh∆∞ng KH√îNG s·ª≠a tuple,T·∫°o list m·ªõi updated_employees
#IT tƒÉng 10%
#Ph√≤ng kh√°c gi·ªØ nguy√™n
#employees ban ƒë·∫ßu kh√¥ng ƒë·ªïi

print("\n=== 4. C·∫¨P NH·∫¨T L∆Ø∆†NG NH√ÇN VI√äN ===")
updated_employees = []
for emp_id, name, dept, salary in employees:
    if dept == "IT":
        new_salary = salary * 1.10
    else:
        new_salary = salary

    # t·∫°o tuple m·ªõi
    updated_employees.append(
        (emp_id, name, dept, new_salary)
    )

print("\n=== DANH S√ÅCH SAU KHI C·∫¨P NH·∫¨T L∆Ø∆†NG ===")
for emp in updated_employees:
    print(emp)
#5. TTh√™m nh√¢n vi√™n m·ªõi & in l·∫°i danh s√°ch
print("\n=== 5. TH√äM NH√ÇN VI√äN M·ªöI ===")
new_employee = ("E006", "Nguy·ªÖn Th·ªã Di·ªÖm H∆∞∆°ng", "Marketing", 1600)
updated_employees.append(new_employee)
print("\n=== DANH S√ÅCH SAU KHI TH√äM NH√ÇN VI√äN M·ªöI ===")
for emp_id, name, dept, salary in updated_employees:
    print(f"{emp_id} | {name} | {dept} | {salary}")

=== 1. DUY·ªÜT DS NH√ÇN VI√äN ===
ID: E001, Name: Nguyen Van A, Department: IT, Salary: 1500
ID: E002, Name: Tran Thi B, Department: HR, Salary: 1200
ID: E003, Name: Le Van C, Department: IT, Salary: 1800
ID: E004, Name: Pham Thi D, Department: Finance, Salary: 2000
ID: E005, Name: Hoang Van E, Department: IT, Salary: 1700

=== 2. NH√ÇN VI√äN PH√íNG IT ===
E001 | Nguyen Van A | 1500
E003 | Le Van C | 1800
E005 | Hoang Van E | 1700

=== 3. T·ªîNG L∆Ø∆†NG V√Ä L∆Ø∆†NG TRUNG B√åNH ===
T·ªïng l∆∞∆°ng: 8200
L∆∞∆°ng trung b√¨nh: 1640.0

=== 4. C·∫¨P NH·∫¨T L∆Ø∆†NG NH√ÇN VI√äN ===

=== DANH S√ÅCH SAU KHI C·∫¨P NH·∫¨T L∆Ø∆†NG ===
('E001', 'Nguyen Van A', 'IT', 1650.0000000000002)
('E002', 'Tran Thi B', 'HR', 1200)
('E003', 'Le Van C', 'IT', 1980.0000000000002)
('E004', 'Pham Thi D', 'Finance', 2000)
('E005', 'Hoang Van E', 'IT', 1870.0000000000002)

=== 5. TH√äM NH√ÇN VI√äN M·ªöI ===

=== DANH S√ÅCH SAU KHI TH√äM NH√ÇN VI√äN M·ªöI ===
E001 | Nguyen Van A | IT | 1650.0000000000002
E002 | Tran Thi B | HR | 1200
E003 | Le Van C | IT | 1980.0000000000002
E004 | Pham Thi D | Finance | 2000
E005 | Hoang Van E | IT | 1870.0000000000002
E006 | Nguy·ªÖn Th·ªã Di·ªÖm H∆∞∆°ng | Marketing | 1600

**D·∫†NG B√ÄI T·∫¨P: ƒê·ªäNH NGHƒ®A H√ÄM TRONG DOANH NGHI·ªÜP**
1. Th·ªëng k√™ l∆∞∆°ng nh√¢n vi√™n, l∆∞∆°ng th·∫•p nh·∫•t, cao nh·∫•t v√† trung b√¨nh c·ªßa c√¥ng ty.
2. Vi·∫øt h√†m salary_stats(salaries),tr·∫£ v·ªÅ tuple (min_salary, max_salary, avg_salary). 
M√¥ t·∫£: def salary_stats(salaries):#del : ƒë·ªãnh nghƒ©a (define)
    #TODO: t√≠nh min, max, avg

3.Th·ªëng k√™ doanh s·ªë b√°n h√†ng c·ªßa t·ª´ng nh√¢n vi√™n trong m·ªôt k·ª≥ (tu·∫ßn / th√°ng).
Theo m√£:  M√£ nh√¢n vi√™n, Danh s√°ch doanh s·ªë c√°c ƒë∆°n h√†ng. 
    ƒê·ªãnh nghƒ©a h√†m calculate_sales_stats(sales)
    H√†m nh·∫≠n v√†o list doanh s·ªë
Tr·∫£ v·ªÅ tuple g·ªìm:
    T·ªïng doanh s·ªë
    Doanh s·ªë cao nh·∫•t
    Doanh s·ªë trung b√¨nh
    In b√°o c√°o doanh s·ªë cho nh√¢n vi√™n

In [47]:
salaries = [1500, 1200, 1800, 2000, 1700]

def salary_stats(salary_list):
    min_salary = min(salary_list)
    max_salary = max(salary_list)
    avg_salary = sum(salary_list) / len(salary_list)
    return min_salary, max_salary, avg_salary

min_s, max_s, avg_s = salary_stats(salaries)

print(f"Min: {min_s}, Max: {max_s}, Average: {avg_s}")
print("S·ªë nh√¢n vi√™n:", len(salaries))

Min: 1200, Max: 2000, Average: 1640.0
S·ªë nh√¢n vi√™n: 5

In [50]:
#3.Th·ªëng k√™ doanh s·ªë b√°n h√†ng c·ªßa t·ª´ng nh√¢n vi√™n trong m·ªôt k·ª≥ (tu·∫ßn / th√°ng).
# ƒê·ªãnh nghƒ©a h√†m t√≠nh doanh s·ªë
def calculate_sales_stats(sales):
    total_sales = sum(sales)
    max_sales = max(sales)
    avg_sales = total_sales / len(sales)
    return total_sales, max_sales, avg_sales

# D·ªØ li·ªáu doanh s·ªë c·ªßa m·ªôt nh√¢n vi√™n
employee_id = "E007"
monthly_sales = [1200, 1800, 1500, 2000, 1700]

# G·ªçi h√†m ƒë√£ ƒë·ªãnh nghƒ©a
total, max_val, avg_val = calculate_sales_stats(monthly_sales)
# In b√°o c√°o
print(f"Employee ID: {employee_id}")
print(f"Total Sales: {total}")
print(f"Max Sale: {max_val}")
print(f"Average Sales: {avg_val}")
print("Number of orders:", len(monthly_sales))

Employee ID: E007
Total Sales: 8200
Max Sale: 2000
Average Sales: 1640.0
Number of orders: 5

üß© **B√ÄI T·∫¨P T·ªîNG H·ª¢P: B·∫¢NG ƒêI·ªÇM SINH VI√äN (TUPLES)**
#1.Danh s√°ch sinh vi√™n
students = [
    ("SV01", "Nguyen Van Tuan", "Data Science"),
    ("SV02", "Tran Thi Phuong", "AI"),
    ("SV03", "Le Van Dung", "Data Science")

]
#2.B·∫£ng ƒëi·ªÉm h·ªçc ph·∫ßn
scores = [
    ("SV01", "Python", 8.5),
    ("SV01", "Math", 7.5),
    ("SV01", "Marketing", 7.0),
    ("SV02", "Accounting", 9.0),
    ("SV02", "Python", 8.5),
    ("SV03", "Math", 7.5),
    ("SV03", "Marketing", 6.5)
]
Y√äU C·∫¶U :
K·ª∏ THU·∫¨T ACCESS TUPLES:
1. L·ªçc T√™n sinh vi√™n v√† chuy√™n ng√†nh c·ªßa sinh vi√™n "SV01".

K·ª∏ THU·∫¨T LOOP + UNPACK TUPLES: 
2. D√πng v√≤ng l·∫∑p for + tuple unpacking ƒë·ªÉ in to√†n b·ªô b·∫£ng ƒëi·ªÉm SV. 

K·ª∏ THU·∫¨T UPDATE TUPLES: 
3. T·∫°o danh s√°ch m·ªõi updated_scores
4. Sinh vi√™n SV03 ƒë∆∞·ª£c c·ªông th√™m 1.0 ƒëi·ªÉm Accounting
5. D·ªØ li·ªáu scores ban ƒë·∫ßu kh√¥ng ƒë∆∞·ª£c thay ƒë·ªïi

K·ª∏ THU·∫¨T TH·ªêNG K√ä ƒêI·ªÇM (LOOP + FUNCTION): 
6. def calculate_average(student_id, scores), t√≠nh ƒëi·ªÉm trung b√¨nh c·ªßa sinh vi√™n c√≥ m√£ s·ªë SV01. 

JOIN TUPLES (R·∫§T QUAN TR·ªåNG): # l√† s·ª± k·∫øt h·ª£p (n·ªëi 2 d·ªØ li·ªáu t·ª´ 2 Tupes l·∫°i v·ªõi nhau)
7.Th·ª±c hi·ªán JOIN gi·ªØa students v√† scores theo student_id ƒë·ªÉ in b√°o c√°o.
Output: "Nguyen Van Tuan" | Data Science | Python | 8.5